<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="axiWarehouse" connectionString="Server=mssql.fhict.local;Database=dbi429965_axigroep5;User Id=dbi429965_axigroep5;Password=axi_groep5;" />
	</connectionStrings>	
</configuration>

