@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p></a>Deze website is voor gitaar tabs en video sharing, je kunt hier een account aanmaken en ratings geven aan je favoriete nummers.</p>
</div>
