@model AxiGroep_5.Models.MagazijnViewModel

@{
    ViewData["Title"] = "Bewerken";
}

<h1>Bewerken</h1>

<h4>MagazijnViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Magazijn" asp-action="Bewerken">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Straatnaam" class="control-label"></label>
                <input asp-for="Straatnaam" class="form-control" />
                <span asp-validation-for="Straatnaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Huisnummer" class="control-label"></label>
                <input asp-for="Huisnummer" class="form-control" />
                <span asp-validation-for="Huisnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
