@model AxiGroep_5.Models.LocatieViewModel

@{
    ViewData["Title"] = "LocatieAanmaken";
}

<h1>Locatie Aanmaken</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Locatie" asp-action="LocatieAanmaken">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MagazijnId" class="control-label"></label>
                <input asp-for="MagazijnId" class="form-control" />
                <span asp-validation-for="MagazijnId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RijNummer" class="control-label"></label>
                <input asp-for="RijNummer" class="form-control" />
                <span asp-validation-for="RijNummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Locatie" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
